# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [12]:
import numpy as np
import csv
import pandas as pd

In [106]:
recipes=pd.read_csv("recipes_sample.csv", delimiter = ',')

In [14]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [39]:
reviews = pd.read_csv("reviews_sample.csv", delimiter = ',')

In [40]:
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [17]:
recipes.info

<bound method DataFrame.info of                                                name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]>

In [41]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [42]:
reviews.info

<bound method DataFrame.info of         Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]>

In [43]:
reviews.dtypes

Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [48]:
print(f'количество пустых ячеек таблицы recipes - {recipes.isnull().sum().sum()}')
print(f'количество непустых ячеек таблицы recipes - {recipes.count().sum()}')
print(f'количество всех ячеек таблицы recipes - {recipes.shape[0] * recipes.shape[1]}')
print(f'доля строк, содержащих пропуски, в отношении к общему количеству строк таблицы recipes - {recipes.isnull().sum().sum() / (recipes.shape[0] * recipes.shape[1])}')

print(f'\nколичество пустых ячеек таблицы reviews - {reviews.isnull().sum().sum()}')
print(f'количество непустых ячеек таблицы reviews - {reviews.count().sum()}')
print(f'количество всех ячеек таблицы reviews - {reviews.shape[0] * reviews.shape[1]}')
print(f'доля строк, содержащих пропуски, в отношении к общему количеству строк таблицы reviews - {reviews.isnull().sum().sum() / (reviews.shape[0] * reviews.shape[1])}')

количество пустых ячеек таблицы recipes - 20693
количество непустых ячеек таблицы recipes - 219307
количество всех ячеек таблицы recipes - 240000
доля строк, содержащих пропуски, в отношении к общему количеству строк таблицы recipes - 0.08622083333333333

количество пустых ячеек таблицы reviews - 17
количество непустых ячеек таблицы reviews - 760159
количество всех ячеек таблицы reviews - 760176
доля строк, содержащих пропуски, в отношении к общему количеству строк таблицы reviews - 2.2363242196543958e-05

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [50]:
print(recipes.select_dtypes(["int64", "float64"]).mean(), "\n")
print(reviews.select_dtypes(["int64", "float64"]).mean())

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [53]:
recipes.sample(n = 10)["name"]

29241                                    white brownies
18697                             no bake lemon squares
15177                            kalamata lemon chicken
28664    vegetable manchurian   oriental fusion cuisine
11077                                   five onion soup
8000                            cranberry orange scones
29659                                yellow pepper soup
5010                                 champagne cupcakes
28964                         walnut brownie cheesecake
12390                        grandma maroni s meatballs
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [55]:
reviews['Unnamed: 0'] = list(range(len(reviews)))
print(reviews)

        Unnamed: 0     user_id  recipe_id        date  rating  \
0                0       21752      57993  2003-05-01       5
1                1      431813     142201  2007-09-16       5
2                2      400708     252013  2008-01-10       4
3                3  2001852463     404716  2017-12-11       5
4                4       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691      126691     1270706     335534  2009-05-17       4
126692      126692     2282344       8701  2012-06-03       0
126693      126693      689540     222001  2008-04-08       5
126694      126694  2000242659     354979  2015-06-02       5
126695      126695      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [58]:
recipes_1 = recipes.loc[recipes.query('minutes <= 20 and n_ingredients <= 5').index]
print(recipes_1)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [59]:
recipes['submitted'] = pd.to_datetime(recipes["submitted"])
recipes['submitted']

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

In [60]:
recipes = pd.read_csv("recipes_sample.csv", delimiter = "," , parse_dates = ["submitted"])
recipes["submitted"]

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [61]:
recipes[recipes.submitted.dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [63]:
recipes['description_length'] = pd.Series(recipes["description"]).str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [64]:
recipes["name"] = recipes["name"].str.title()
print(recipes[["name"]])

                                               name
0             George S At The Cove  Black Bean Soup
1                Healthy For Them  Yogurt Popsicles
2                      I Can T Believe It S Spinach
3                              Italian  Gut Busters
4          Love Is In The Air  Beef Fondue   Sauces
...                                             ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread
29996          Zwetschgenkuchen  Bavarian Plum Cake
29997   Zwiebelkuchen   Southwest German Onion Cake
29998                                   Zydeco Soup
29999        Cookies By Design   Cookies On A Stick

[30000 rows x 1 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [65]:
recipes["name_word_count"] = recipes['name'].apply(lambda x: len(x.split()))
print(recipes[["name", 'name_word_count']])

                                               name  name_word_count
0             George S At The Cove  Black Bean Soup                8
1                Healthy For Them  Yogurt Popsicles                5
2                      I Can T Believe It S Spinach                7
3                              Italian  Gut Busters                3
4          Love Is In The Air  Beef Fondue   Sauces                8
...                                             ...              ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread                8
29996          Zwetschgenkuchen  Bavarian Plum Cake                4
29997   Zwiebelkuchen   Southwest German Onion Cake                5
29998                                   Zydeco Soup                2
29999        Cookies By Design   Cookies On A Stick                7

[30000 rows x 2 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [70]:
recipes = pd.read_csv('recipes_sample.csv', delimiter = ",")
recipe_counts = recipes['contributor_id'].value_counts()
print(recipe_counts)
maxid = recipe_counts.idxmax()
print(f'Student with ID {maxid} added maximum number of recipes:{recipe_counts[maxid]}')

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64
Student with ID 89831 added maximum number of recipes:421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [98]:
reviews.groupby('recipe_id').agg({'rating': ['mean']}).reset_index()

      recipe_id    rating
                     mean
0            48  1.000000
1            55  4.750000
2            66  4.944444
3            91  4.750000
4            94  5.000000
...         ...       ...
28095    536547  5.000000
28096    536610  0.000000
28097    536728  4.000000
28098    536729  4.750000
28099    536747  0.000000

[28100 rows x 2 columns]

In [99]:
recipes["id"].isin(reviews["recipe_id"]).value_counts()

True     28100
False     1900
Name: id, dtype: int64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes.groupby(pd.Grouper(key = "submitted", axis = 0, freq = "2Y")).size()

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [97]:
combined_df = pd.merge(recipes[['id', "name"]], reviews[['recipe_id', "user_id", "rating"]],left_on = "id", right_on = "recipe_id", how = 'inner').drop(columns = ["recipe_id"])
combined_df

            id                                    name  user_id  rating
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3